<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<title>{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}">
	<meta name="author" content="{{ site.author }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#cc005f">
	<!-- CSS -->
	<link rel="stylesheet" href="/assets/css/slick.min.css">
	<link rel="stylesheet" href="/assets/css/base.min.css">
	<link rel="stylesheet" href="/assets/css/main.css">
	<link rel="stylesheet" href="/assets/css/vendor.min.css">
	<!-- favicons -->
	<link rel="icon" type="image/png" href="/assets/img/favicon.png">
	<!-- script -->
	<script src="/assets/js/modernizr.min.js"></script>
	<script src="/assets/js/pace.min.js"></script>
	<!-- Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148960785-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-148960785-1');

	</script>

</head>

<body id="top">
	<!-- main content for the layout -->
	{{ content }}

	<!-- preloader -->
	<div id="preloader">
		<div id="loader"></div>
	</div>

	<!-- script -->
	<script src="/assets/js/jquery-2.1.3.min.js"></script>
	<script src="/assets/js/plugins.min.js"></script>
	<script src="/assets/js/slick.min.js"></script>
	<script src="/assets/js/main.js"></script>
</body>

</html>
