<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<title>{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}">
	<meta name="author" content="{{ site.author }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- css & fonts -->
	<link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/bd-coming-soon.css">
	<meta name="theme-color" content="#39b54a">

	<!-- ico favicon -->
	<link rel="shortcut icon" href="/assets/favicon/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/assets/favicon/favicon.ico" type="image/x-icon">
	<!-- png favicons -->
	<link rel="shortcut icon" href="/assets/favicon/favicon.png" type="image/png">
	<link rel="icon" href="/assets/favicon/favicon.png" type="image/png">

	<!-- google analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148960785-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'UA-148960785-1');

	</script>

</head>

<body class="min-vh-100 d-flex flex-column">

	<!-- dynamic contents from pages -->
	{{ content }}

	<!-- http to https redirect for github pages -->
	<script>
		var host = "{{ site.domain }}";
		if ((host == window.location.host) && (window.location.protocol != "https:"))
			window.location.protocol = "https";

	</script>

</body>

</html>
